html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body > section {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3rem;

}

.mep {
    padding: 0 7%;

}

