#footer {
    display: flex;
    flex-direction: column;
    background-color: #182432;
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 3rem;
    .sitemap {
        display: flex;
        justify-content: space-between;
    }
    input {
        width: 100%;
    }
    
}



@media screen 
  and (min-width: 1200px) 
  and (-webkit-device-pixel-ratio: 1) { 
    #footer {
      .touch {
          display: flex;
          div {
              width: 50%;
              margin-right: 1rem;
          }
      }
    }
}