#reasons {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #82CA9C;
    padding-top: 10%;
    padding-bottom: 10%;
    .reasons {
        display: flex;
        flex-direction: column;
    }

}

/* Portrait and Landscape */
@media screen 
  and (min-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #reasons {
        .reasons {
            flex-direction: row;
            .reason {
                margin: 1rem;

            }
        }
    
    }
    
}

@media screen 
  and (min-width: 1200px) 
  and (-webkit-device-pixel-ratio: 1) { 
    
}